*{
    margin: 0;
    padding: 0;
}
main{
    display: block;
    margin: auto;
    max-width: 50%;
}
body{
    display: block;

}
div{
    padding-top: 20px;
    display: block;
    max-width: 80%;
    text-align: center;

}